*.pdb
*.pyd
*.lib
*.obj
*.exp
CompositeTransientHeatTransfer1D/HeatTransfer1D.c
HeatTransfer1D/HeatTransfer1D.c
HeatTransfer1D/HeatTransfer1D.pyx
MultiField1D/MultiField1D.c
MultiField1D/MultiField1D.pyx
TransientHeatTransfer1D/HeatTransfer1D.c
TransientHeatTransfer1D/HeatTransfer1D.pyx
CompositeTransientHeatTransfer1D/.ipynb_checkpoints/Transient Heat Transfer 1D using petsc4py-checkpoint.ipynb
FieldSplit/.ipynb_checkpoints/FieldSplitTemplate-checkpoint.ipynb
HeatTransfer1D/.ipynb_checkpoints/Heat Transfer 1D using petsc4py-checkpoint.ipynb
MultiField1D/.ipynb_checkpoints/Multi Field 1D using petsc4py-checkpoint.ipynb
TransientHeatTransfer1D/.ipynb_checkpoints/Transient Heat Transfer 1D using petsc4py-checkpoint.ipynb
CompositeSimple1D/build/.vs/CompositeSIMPLE/v14/.suo
CompositeSimple1D/build/ALL_BUILD.vcxproj
CompositeSimple1D/build/ALL_BUILD.vcxproj.filters
CompositeSimple1D/build/ALL_BUILD.vcxproj.user
CompositeSimple1D/build/cmake_install.cmake
CompositeSimple1D/build/CMakeCache.txt
CompositeSimple1D/build/CMakeFiles/3.3.1/CMakeCCompiler.cmake
CompositeSimple1D/build/CMakeFiles/3.3.1/CMakeCXXCompiler.cmake
CompositeSimple1D/build/CMakeFiles/3.3.1/CMakeDetermineCompilerABI_C.bin
CompositeSimple1D/build/CMakeFiles/3.3.1/CMakeDetermineCompilerABI_CXX.bin
CompositeSimple1D/build/CMakeFiles/3.3.1/CMakeRCCompiler.cmake
CompositeSimple1D/build/CMakeFiles/3.3.1/CMakeSystem.cmake
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdC/CMakeCCompilerId.c
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdC/CompilerIdC.exe
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdC/CompilerIdC.vcxproj
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/CompilerIdCXX.exe
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/CompilerIdCXX.vcxproj
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link-VCTIP.delete.1.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link-VCTIP.delete.37.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link-VCTIP.delete.49.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link-VCTIP.delete.60.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link-VCTIP.delete.9.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link-VCTIP.read.1.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link-VCTIP.read.13.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link-VCTIP.read.14.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link-VCTIP.read.18.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link-VCTIP.read.21.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link-VCTIP.read.23.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link-VCTIP.read.37.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link-VCTIP.read.49.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link-VCTIP.read.60.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link-VCTIP.read.7.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link-VCTIP.read.9.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link-VCTIP.write.1.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link-VCTIP.write.18.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link-VCTIP.write.23.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link-VCTIP.write.37.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link-VCTIP.write.49.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link-VCTIP.write.60.tlog
CompositeSimple1D/build/CMakeFiles/3.3.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link-VCTIP.write.9.tlog
CompositeSimple1D/build/CMakeFiles/cmake.check_cache
CompositeSimple1D/build/CMakeFiles/CMakeOutput.log
CompositeSimple1D/build/CMakeFiles/ed3c281fd6d3017f8d698976c3e731c0/generate.stamp.rule
CompositeSimple1D/build/CMakeFiles/feature_tests.bin
CompositeSimple1D/build/CMakeFiles/feature_tests.cxx
CompositeSimple1D/build/CMakeFiles/generate.stamp
CompositeSimple1D/build/CMakeFiles/generate.stamp.depend
CompositeSimple1D/build/CMakeFiles/generate.stamp.list
CompositeSimple1D/build/CMakeFiles/TargetDirectories.txt
CompositeSimple1D/build/CompositeSIMPLE.sdf
CompositeSimple1D/build/CompositeSIMPLE.sln
CompositeSimple1D/build/CompositeSIMPLE.VC.db
CompositeSimple1D/build/CompositeSIMPLE.VC.VC.opendb
CompositeSimple1D/build/Debug/main.exe
CompositeSimple1D/build/Debug/main.ilk
CompositeSimple1D/build/main.dir/Debug/main.log
CompositeSimple1D/build/main.dir/Debug/main.tlog/CL.command.1.tlog
CompositeSimple1D/build/main.dir/Debug/main.tlog/CL.read.1.tlog
CompositeSimple1D/build/main.dir/Debug/main.tlog/CL.write.1.tlog
CompositeSimple1D/build/main.dir/Debug/main.tlog/custombuild.command.1.tlog
CompositeSimple1D/build/main.dir/Debug/main.tlog/custombuild.read.1.tlog
CompositeSimple1D/build/main.dir/Debug/main.tlog/custombuild.write.1.tlog
CompositeSimple1D/build/main.dir/Debug/main.tlog/link.command.1.tlog
CompositeSimple1D/build/main.dir/Debug/main.tlog/link.read.1.tlog
CompositeSimple1D/build/main.dir/Debug/main.tlog/link.write.1.tlog
CompositeSimple1D/build/main.dir/Debug/main.tlog/main.lastbuildstate
CompositeSimple1D/build/main.dir/Debug/main.tlog/main.write.1u.tlog
CompositeSimple1D/build/main.dir/Debug/main.tlog/unsuccessfulbuild
CompositeSimple1D/build/main.vcxproj
CompositeSimple1D/build/main.vcxproj.filters
CompositeSimple1D/build/main.vcxproj.user
CompositeSimple1D/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
CompositeSimple1D/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
CompositeSimple1D/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
CompositeSimple1D/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
CompositeSimple1D/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/unsuccessfulbuild
CompositeSimple1D/build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
CompositeSimple1D/build/ZERO_CHECK.vcxproj
CompositeSimple1D/build/ZERO_CHECK.vcxproj.filters
CompositeSimple1D/build/ZERO_CHECK.vcxproj.user
